{%extends 'base.html'%}
{%block title%}
Contact
{%endblock title%}
{%block body%}
<br>
<br>
<h3 style="text-align:center;"> Contact Us </h3>
<br>
<br>
<div class="container">
  <form>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
      <label for="floatingFName">Enter First Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
      <label for="floatingLName">Enter Last Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
        style="height: 100px"></textarea>
      <label for="floatingTextarea2">Message</label>
    </div>

    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
{%endblock body%}