{%extends 'base.html'%}
{%block title%}
Home
{%endblock title%}
{%block body%}
<br><br>
<div class='row' align='center'>
  <blockquote class="blockquote text-right">
    <div class="col-sm-6">
      <img src="{{url_for('static',filename='redbull.png')}}" alt="redbull">
    </div><br>
    <div class="col-sm-6">
      <h1>Vitalizes Body and Mind.®</h1>
      <br>
      <h3 class="lead">Red Bull Energy Drink is appreciated worldwide by top athletes, students, and in highly demanding professions as well as during long drives.</h3>
    </div>
</blockquote>
</div>

{%endblock body%}