{%extends 'base.html'%}
{%block body%}
<br>
<br>
<h3 style="text-align:center;"> Our Products </h3>
<br>
<br>
<div class=row align='center'>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull.png')}}" class="card-img-top image" alt="redbull">
            <div class="card-body">
                <h4 class="card-title">Red Bull Energy Drink</h4>
                <p class="card-text">Gives you Wings</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull-sugarfree.jpg')}}" class="card-img-top image" alt="monster">
            <div class="card-body">
                <h4 class="card-title">Red Bull Sugarfree</h4>
                <p class="card-text">Wings without sugar.</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull-yellow.jpg')}}" class="card-img-top image" alt="Bang">
            <div class="card-body">
                <h4 class="card-title">Red Bull Yellow Edition</h4>
                <p class="card-text">Exotic taste of tropical fruits.</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull-summer.jpg')}}" class="card-img-top image" alt="Gatorade">
            <div class="card-body">
                <h4 class="card-title">Red Bull Summer Edition</h4>
                <p class="card-text">A fresh peach taste.</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
</div>
{%endblock body%}