{%extends 'base.html'%}
{%block body%}
<br>
<br>
<h3 style="text-align:center;"> Our Products </h3>
<br>
<br>
<div class=row>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Red Bull</h4>
                <p class="card-text">Gives you wings</p>
                <a href="#" class="btn btn-primary">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Monster Energy</h4>
                <p class="card-text">Unleash the Beast.</p>
                <a href="#" class="btn btn-primary">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Sting Energy Drink</h4>
                <p class="card-text">Extreme energy. Ultimate taste.</p>
                <a href="#" class="btn btn-primary">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">Mountain Dew</h4>
                <p class="card-text">Darr Ke Aage Jeet Hai.</p>
                <a href="#" class="btn btn-primary">see more</a>
            </div>
        </div>
    </div>
</div>
{%endblock body%}