{%extends 'base.html'%}
{%block body%}
<br>

<h2 style="text-align:center;"> Our Products </h2>
<br>
<br>
<h4 align='center'>Energy Drinks</h4><br><br>

<div class='row p-3 mb-2 bg-danger text-white' align='center'>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull.png')}}" class="card-img-top image" alt="redbull">
            <div class="card-body">
                <h4 class="card-title text-primary">Red Bull Energy Drink</h4>
                <p class="card-text text-dark">Gives you Wings</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull-sugarfree.jpg')}}" class="card-img-top image" alt="monster">
            <div class="card-body">
                <h4 class="card-title text-info">Red Bull Sugarfree</h4>
                <p class="card-text text-dark">Wings without sugar.</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull-yellow.jpg')}}" class="card-img-top image" alt="Bang">
            <div class="card-body">
                <h4 class="card-title text-warning">Red Bull Yellow Edition</h4>
                <p class="card-text text-dark">Exotic taste of tropical fruits.</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='redbull-summer.jpg')}}" class="card-img-top image" alt="Gatorade">
            <div class="card-body">
                <h4 class="card-title text-danger">Red Bull Summer Edition</h4>
                <p class="card-text text-dark">A fresh peach taste.</p>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
</div>

<br><br>
<h4 align='center'>Clothing</h4><br><br>
<div class='row p-3 mb-2 bg-dark text-white' align='center'>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='men.jpg')}}" class="card-img-top image" alt="redbull">
            <div class="card-body">
                <h4 class="card-title text-dark">Men</h4>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='women.jpg')}}" class="card-img-top image" alt="monster">
            <div class="card-body">
                <h4 class="card-title text-dark">Women</h4>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static',filename='kids.jpg')}}" class="card-img-top image" alt="Bang">
            <div class="card-body">
                <h4 class="card-title text-dark">Kids</h4>
                <a href="#" class="btn btn-danger">see more</a>
            </div>
        </div>
    </div>
</div>

{%endblock body%}